header{
    background-color: #85586F;
    padding: 20px;
}
nav{
    background-color:#F8ECD1;
    color: black;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article{
    background-color: #DEB6AB;
    grid-column: 1/4;
}
aside{
    background-color: beige;
    padding: 30px;
    grid-column: 4/5 ;
}
footer{
    background-color: black;
    color: beige;
    padding: 10px;
}
